alabaster
Babel
beautifulsoup4
certifi
charset-normalizer
docutils
idna
imagesize
Jinja2
latexcodec
MarkupSafe
packaging
pybtex
pybtex-docutils
pydata-sphinx-theme
Pygments
pytz
PyYAML
requests
setuptools
six
snowballstemmer
soupsieve
Sphinx
sphinx-book-theme
sphinx_design
sphinx-panels
sphinx-proof
sphinxcontrib-applehelp
sphinxcontrib-bibtex
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-proof
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-youtube
urllib3
